.header {
  height: 34vw;
  margin: 10px auto;
  border-radius: 20px;
  background: url(/header-img.png) no-repeat;
  background-size: cover; /* Đổi từ contain sang cover */
  position: relative;
  margin-top: 100px;
  overflow: hidden; /* Đảm bảo rằng các phần tử con không vượt ra ngoài các góc bo tròn */
}
