.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.footer-content-left {
  flex: 2;
  min-width: 200px;
}

.footer-content-center,
.footer-content-right {
  flex: 1;
  min-width: 200px;
}

.footer-content-left img {
  max-width: 200px;
  height: auto;
}

.footer-content-left p,
.footer-content-right p {
  margin-bottom: 10px;
  justify-content: center;
}

.footer-content-center h2,
.footer-content-right h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.footer-content-center ul {
  list-style: none;
  padding: 0;
}

.footer-content-center ul li {
  margin-bottom: 10px;
}

.social-media {
  display: flex;
  gap: 10px;
}

.social-media .fa-icon {
  font-size: 24px;
  color: #fff;
}

hr {
  margin-top: 10px;
}

.footer-copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #ccc;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    gap: 20px;
  }

  .footer-content-left {
    order: 2;
  }

  .footer-content-center {
    display: none;
  }

  .footer-content-right {
    order: 1;
    /* Thay đổi thứ tự hiển thị */
  }
}