.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    top: 0;
    left: 50%;
    padding: 20px 20px;
    position: fixed;
    width: 100%;
    background-color: white;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar .logo{
    width: 200px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 20px;
    cursor: pointer;
    transition: ease 0.3s;
}
.navbar-right{
    display: flex;
    gap: 40px;
    align-items: center;
    list-style: none;
    cursor: pointer;
    font-size: 20px;
    color: #49557e;
    transition: 3s;
}
.navbar .active{
    color: #ffa764;
    text-decoration: underline;
}
.navbar-cart{
    position: relative;
}
.navbar-cart .dot{
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #ffa764;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
}
.navbar-right button{
    background-color: #ffa764;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: ease 0.3s;
}
