#popup-dsMonAn {
    padding: 10px 0px 10px 32px;
    justify-items: start;
    overflow: auto;
    list-style-type: auto;
    border: 2px dashed black;
    width: 22em;
    height: 15em;
    margin-top: 8px;
}