.place-order {
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
    align-items: stretch;
    height: 80vh;
}

.place-order-left{
    height: 80vh;
}

.place-order h2 {
    margin-bottom: 20px;
    color: #333;
}

.order-details {
    margin-bottom: 20px;
    height: 65vh;
    overflow-y: auto;
    padding-right: 15px;
}

.order-details::-webkit-scrollbar {
    width: 10px;
}

.order-details::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.order-details::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.order-details::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.order-details p {
    font-size: 16px;
}

.order-details p {
    font-size: 16px;
    color: #333;
}

.order-details h2 {
    margin-bottom: 10px;
    color: #333;
}

.order-details h3 {
    margin-bottom: 10px;
    color: #333;
}

.order-details table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.order-details table th,
.order-details table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.order-details table th {
    background-color: #f2f2f2;
    color: #333;
}

.order-details table td img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.order-details .table-container {
    max-height: 300px;
    /* Fixed height for the table */
    overflow-y: auto;
    /* Add vertical scroll */
}

.order-actions {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 30px;
}

.order-actions button {
    background-color: #3a3a3a;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
}

.order-actions button:hover {
    background-color: #000000;
}

.totalPrice {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

#total2 {
    font-size: 16px;
    color: #333;
    margin-top: 20px;
}

.methodContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}


#paymentMethod {
    font-size: 16px;
    color: #333;
}

select {
    padding: 5px;
    font-size: 16px;
    width: 100%;
}

.cart-promo {
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: auto;
}

.cart-promo h3 {
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;
}

.cart-promo input {
    width: 250px;
    height: auto;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cart-promo button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #3a3a3a;
    color: white;
    cursor: pointer;
}

.cart-promo button:hover {
    background-color: #000000;
}

.place-order-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#total-title{
    font-size: 25px;
    color: #333;
    margin: 0 auto;
}

#animation {
    margin: 0 auto;
}


@media (max-width: 768px) {
    .place-order {
        grid-template-columns: 1fr;
        gap: 0;
        height: auto;
    }

    .place-order-left {
        margin-bottom: 20px;
        height: auto;
    }

    .place-order-right {
        margin-top: 20px;
    }
}