.otp-popup{
    display: grid;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #00000090;
    z-index: 3;
}

.otp-popup-container{
    position: relative;
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 16px;
    animation: fadeIn .5s;
}

.otp-popup-inputs{
    /* display: flex; */
    gap: 12px;
    /* align-items: center; */
    margin: auto;
}

.otp-popup-inputs input{
    margin: 0 2px;
    width: max(2vw, 40px);
    font-size: 32px;
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    /* margin: 2px; */
    border: 2px solid #333;
    font-weight: bold;
    outline: none;
    transition: all .1s;
}

.otp-popup-inputs input:focus{
    background-color: #f8c2c2;
}

.otp-popup-title {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
}

.otp-popup-title span{
    font-size: 20px;
    color: #333;
    font-weight: bold;
}