.textTyping{
    display: inline-block;
    margin: 0 20%;
    /* width: 60%; */
}
.text{
    display: inline-block;
    font-size: 3.6rem ;
    overflow: hidden;
    border-right: 0.1em solid orange;
    white-space: nowrap;
    animation: typing 4s steps(40),
                cursor .4s step-end infinite alternate;
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes cursor {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
    100% {
        border-color: transparent;
    }
}