

.donhang-loc {
    display: flex;
    align-items: center;
    gap: 10px;
}

.donhang-content-title {
    grid-template-columns: 0.2fr 1.5fr 1fr 1fr 1fr 0.5fr;
    & button{
        background-color: #6a6161;
        color: white;
        font-size: 15px;
        transition: ease 0.3s;
        border-radius: 12px;
        padding: 6px;
        border: 2px solid #6a6161;

        &:hover{
            background-color: white;
            color: #000;
        }
    }
}

/* .donhang-content-title button{
    background-color: #6a6161;
    color: white;
    font-size: 15px;
    transition: ease 0.3s;
} */
.donhang-loc button{
    padding: 5px 10px;
    border: 2px solid #6a6161;
    border-radius: 15px;
    background-color: #6a6161;
    color: white;
    font-size: 15px;
    transition: ease 0.3s;

    &:hover{
        background-color: white;
        color: #000;
    }
}